<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% if page.layout == "about" %}
        <link rel="stylesheet" href="/assets/css/style1.css">
    {% elsif page.layout == "post" %}
        <link rel="stylesheet" href="/assets/css/style2.css">
    {% else %}
        <link rel="stylesheet" href="/assets/css/styles.css">
    {% endif %}
  </head>
  <body>
    {{ content }}
  </body>
</html>